@model IEnumerable<Web_Store.Models.product>

@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/MasterPages/_UserLayout.cshtml";
}

<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

<h1 class="text-center">Cart</h1>
<hr />
<div class="container">
    <div class="row">
        <div class="col">
            <input class="form-control" id="myInput" type="text" placeholder="Search..">
        </div>
    </div>


</div>
<h1></h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">
                ID
            </th>
            <th scope="col">
                Item Names
            </th>
            <th scope="col">
                Item Prices
            </th>
            <th scope="col">
                Change Quantity
            </th>
            <th scope="col">
                Price
            </th>
            <th scope="col">
                Actions
            </th>

        </tr>
    </thead>
    <tbody id="myTable">
        @{ 
            int a = 0;
            decimal total = 0;
        }
        @foreach (var item in Model)
        {
            List<string> quantity = TempData["qu"] as List<string>;

        <tr>
            <th scope="row">
                @Html.DisplayFor(modelItem => item.idItems)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemPrice)
            </td>
            <td>
                <div class="container">
                    <div class="row">
                        <form action="/User/ChangeCart/@item.idItems" method="POST">
                            <input type="number" style="width:40px" name="quantity" min="1" max="99" value="@quantity[a++]" required>
                            <button type="submit" class="btn btn-primary">Change</button>
                        </form>
                    </div>
                </div>


            </td>
            <td>
                @{ 
                    total += item.ItemPrice * Convert.ToInt32(quantity[a - 1]);
                }
                @(item.ItemPrice * Convert.ToInt32(quantity[a - 1])) USD
            </td>
            <td>
                <button type="button" class="btn btn-outline-primary">@Html.ActionLink("Delete From Cart", "DeleteCart", new { id = item.idItems })</button>   
            </td>

        </tr>

        }
    </tbody>
</table>


<div class="container">
    <div class="row">
        <div class="col align-self-start">
        </div>
        <div class="col align-self-center">
            @if (total != 0)
            {
                <button type="button" class="btn btn-outline-primary">@Html.ActionLink("Proceed to Checkout (" + total + " USD)", "buy")</button>
            }
        </div>
        <div class="col align-self-end">
            
        </div>
    </div>
</div>